#footer-container{
    display: flex;
    flex-direction: row;
    width: 90%;
    padding-top: 10px;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    left: 0;
}

ul li{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

ul li a{
    text-decoration: none;
    color: #FFFF;
    margin-left: 10px;
}

#copyright{
    right: 0;
    bottom: 0;
    color: #FFFF;
    width: 10%;
}

@media only screen and (max-width: 550px) {
    #footer-container{
        display: flex;
        flex-direction: column;
    }

    #copyright{
        width: 100%;
    }
}